<.header>
  Listing Qualifications
  <:actions>
    <.link patch={~p"/qualifications/new"}>
      <.button>New Qualification</.button>
    </.link>
  </:actions>
</.header>

<.table
  id="qualifications"
  rows={@streams.qualifications}
  row_click={fn {_id, qualification} -> JS.navigate(~p"/qualifications/#{qualification}") end}
>
  <:col :let={{_id, qualification}} label="Type">{qualification.type}</:col>
  <:col :let={{_id, qualification}} label="Dosb license type">
    {qualification.dosb_license_type}
  </:col>
  <:col :let={{_id, qualification}} label="Dosb license level">
    {qualification.dosb_license_level}
  </:col>
  <:col :let={{_id, qualification}} label="Dosb license number">
    {qualification.dosb_license_number}
  </:col>
  <:col :let={{_id, qualification}} label="Dosb license number sports association">
    {qualification.dosb_license_number_sports_association}
  </:col>
  <:col :let={{_id, qualification}} label="Dosb license coach sport">
    {qualification.dosb_license_coach_sport}
  </:col>
  <:col :let={{_id, qualification}} label="Dosb license sport instructor type">
    {qualification.dosb_license_sport_instructor_type}
  </:col>
  <:col :let={{_id, qualification}} label="Dosb first issuance">
    {qualification.dosb_first_issuance}
  </:col>
  <:col :let={{_id, qualification}} label="Dosb valid until">
    {qualification.dosb_valid_until}
  </:col>
  <:col :let={{_id, qualification}} label="Common type">{qualification.common_type}</:col>
  <:col :let={{_id, qualification}} label="Common description">
    {qualification.common_description}
  </:col>
  <:col :let={{_id, qualification}} label="Common issuance">{qualification.common_issuance}</:col>
  <:action :let={{_id, qualification}}>
    <div class="sr-only">
      <.link navigate={~p"/qualifications/#{qualification}"}>Show</.link>
    </div>
    <.link patch={~p"/qualifications/#{qualification}/edit"}>Edit</.link>
  </:action>
  <:action :let={{id, qualification}}>
    <.link
      phx-click={JS.push("delete", value: %{id: qualification.id}) |> hide("##{id}")}
      data-confirm="Are you sure?"
    >
      Delete
    </.link>
  </:action>
</.table>

<.modal
  :if={@live_action in [:new, :edit]}
  id="qualification-modal"
  show
  on_cancel={JS.patch(~p"/qualifications")}
>
  <.live_component
    module={SportywebWeb.QualificationLive.FormComponent}
    id={@qualification.id || :new}
    title={@page_title}
    action={@live_action}
    qualification={@qualification}
    patch={~p"/qualifications"}
  />
</.modal>
