<.header>
  {@page_title}
  <:actions>
    <.link navigate={~p"/contacts/#{@contact}/qualifications/#{@qualification}/edit"}>
      <.button>Qualifikation bearbeiten</.button>
    </.link>
  </:actions>
</.header>

<.card>
  <%= case @qualification.type do %>
    <% "dosb license" -> %>
      <.list>
        <:item title="Kontakt">
          <.link_to target={@contact} />
        </:item>
        <:item title="Art">
          {get_key_for_value(Qualification.get_valid_types(), @qualification.type)}
        </:item>
        <:item title="Lizenzart">
          {get_key_for_value(
            Qualification.get_valid_dosb_license_types(),
            @qualification.dosb_license_type
          )}
        </:item>
        <:item title="Lizenzstufe">
          {get_key_for_value(
            Qualification.get_valid_dosb_license_levels(),
            @qualification.dosb_license_level
          )}
        </:item>
        <:item
          :if={
            @qualification.dosb_license_type == "sport instructor" and
              @qualification.dosb_license_level == "B"
          }
          title="Übungsleiter B Lizenztyp"
        >
          {get_key_for_value(
            Qualification.get_valid_dosb_license_sport_instructor_types(),
            @qualification.dosb_license_sport_instructor_type
          )}
        </:item>
        <:item
          :if={
            @qualification.dosb_license_type == "coach common" or
              @qualification.dosb_license_type == "coach professional"
          }
          title="Sportart"
        >
          {format_string_field(@qualification.dosb_license_coach_sport)}
        </:item>
        <:item title="Lizenznummer">
          {format_string_field(@qualification.dosb_license_number)}
        </:item>
        <:item title="Verbandslizenznummer">
          {format_string_field(@qualification.dosb_license_number_sports_association)}
        </:item>
        <:item title="Erstaustellungsdatum">
          {format_date_field_dmy(@qualification.dosb_first_issuance)}
        </:item>
        <:item title="Gültig bis">
          {format_date_field_dmy(@qualification.dosb_valid_until)}
        </:item>
        <:item title="Angelegt am">
          {format_date_time_field_dmy_hms(@qualification.inserted_at)}
        </:item>
        <:item title="Zuletzt geändert am">
          {format_date_time_field_dmy_hms(@qualification.updated_at)}
        </:item>
      </.list>
    <% "common" -> %>
      <.list>
        <:item title="Kontakt">
          <.link_to target={@contact} />
        </:item>
        <:item title="Art">
          {get_key_for_value(Qualification.get_valid_types(), @qualification.type)}
        </:item>
        <:item title="Allgemeine Qualifikationsart">
          {get_key_for_value(Qualification.get_valid_common_types(), @qualification.common_type)}
        </:item>
        <:item title="Erteilungsdatum">
          {format_date_field_dmy(@qualification.common_issuance)}
        </:item>
        <:item title="Besschreibung">
          {format_string_field(@qualification.common_description)}
        </:item>
        <:item title="Angelegt am">
          {format_date_time_field_dmy_hms(@qualification.inserted_at)}
        </:item>
        <:item title="Zuletzt geändert am">
          {format_date_time_field_dmy_hms(@qualification.updated_at)}
        </:item>
      </.list>
    <% _ -> %>
  <% end %>
</.card>
