<.header>
  {@page_title}
  <:actions>
    <.link navigate={~p"/contacts/#{@contact}/edit"}>
      <.button>Kontakt bearbeiten</.button>
    </.link>
  </:actions>
</.header>

<.card>
  <.list>
    <:item title="Art">
      {get_key_for_value(Contact.get_valid_types(), @contact.type)}
    </:item>
    <:item title="Kontaktnummer">
      {@contact.identification_number}
    </:item>
    <:item title="Name">
      {format_string_field(@contact.name)}
    </:item>
    <:item title="Geburtsname">
      {format_string_field(@contact.person_birth_name)}
    </:item>
    <:item :if={Contact.is_organization?(@contact)} title="Organisationstyp">
      {get_key_for_value(Contact.get_valid_organization_types(), @contact.organization_type)}
    </:item>
    <:item :if={Contact.is_person?(@contact)} title="Geschlecht">
      {get_key_for_value(Contact.get_valid_genders(), @contact.person_gender)}
    </:item>
    <:item :if={Contact.is_person?(@contact)} title="Geburtsdatum">
      {format_date_field_dmy(@contact.person_birthday)} - {Contact.age_in_years(@contact)} Jahre
    </:item>
    <:item title="Kontaktgruppen">
      <ul>
        <li :for={contact_group <- @contact.contact_groups}>
          <.link_to target={contact_group} />
        </li>
      </ul>
    </:item>
    <:item title="Adresse">
      <SportywebWeb.PolymorphicLive.PostalAddressesShowComponent.render postal_addresses={
        @contact.postal_addresses
      } />
    </:item>
    <:item title="E-Mail">
      <div :for={email <- @contact.emails} class="divide-y divide-zinc-100">
        {get_key_for_value(Email.get_valid_types(), email.type)}: {format_string_field(
          email.address
        )}
      </div>
      <%!-- {format_struct_list(@contact.emails, :address)} --%>
    </:item>
    <:item title="Telefon">
      <div :for={phone <- @contact.phones} class="divide-y divide-zinc-100">
        {get_key_for_value(Phone.get_valid_types(), phone.type)}: {format_string_field(
          phone.number
        )}
      </div>
    </:item>
    <:item title="Zahlungsdaten">
      <SportywebWeb.PolymorphicLive.FinancialDataShowComponent.render financial_data={
        @contact.financial_data
      } />
    </:item>
    <:item title="Notizen">
      <SportywebWeb.PolymorphicLive.NotesShowComponent.render notes={@contact.notes} />
    </:item>
    <:item title="Rollen">
      <SportywebWeb.ContactLive.ContactRoleShowComponent.render contact_roles={
        @contact.contact_roles
      } />
    </:item>
    <:item :if={Contact.has_active_membership_contract?(@contact)} title="Aktives Mitglied">
      <.icon name="hero-check-badge" class="inline-block w-[20px] text-green-800" />
    </:item>
    <:item title="Angelegt am">
      {format_date_time_field_dmy_hms(@contact.inserted_at)}
    </:item>
    <:item title="Zuletzt geändert am">
      {format_date_time_field_dmy_hms(@contact.updated_at)}
    </:item>
  </.list>
</.card>

<.header level="2" class="mt-12">
  Mitgliedschaftsverträge
  <:actions>
    <.link navigate={~p"/contacts/#{@contact}/terminate_membership"}>
      <.button class="bg-rose-700 hover:bg-rose-800">Mitgliedschaften kündigen</.button>
    </.link>
  </:actions>
</.header>

<.card>
  <%= if Enum.any?(@streams.contracts.inserts) do %>
    <.table
      id="contracts"
      rows={@streams.contracts}
      row_click={fn {_id, contract} -> JS.navigate(~p"/contracts/#{contract}") end}
    >
      <:col :let={{_id, contract}} label="Vertragsobjekt">
        {format_string_field(Contract.get_object(contract).name)}
      </:col>
      <:col :let={{_id, contract}} label="Gebühr">
        {format_string_field(contract.fee.name)}
        <%= if Fee.is_archived?(contract.fee) do %>
          <.icon name="hero-archive-box" class="ml-1 inline-block w-[20px] text-zinc-800" />
        <% end %>
      </:col>
      <:col :let={{_id, contract}} label="Vertragsbeginn">
        {format_date_field_dmy(contract.start_date)}
      </:col>
      <:col :let={{_id, contract}} label="Vertragsende">
        {format_date_field_dmy(contract.archive_date)}
      </:col>

      <:action :let={{_id, contract}}>
        <.link navigate={~p"/contracts/#{contract}"}>Anzeigen</.link>
      </:action>
    </.table>
  <% else %>
    <p>
      Bisher wurde noch kein Mitgliedschaftsvertrag erstellt.
    </p>
  <% end %>
</.card>

<.header level="2" class="mt-12">
  Qualifikationen
  <:actions>
    <.link navigate={~p"/contacts/#{@contact}/qualifications/new"}>
      <.button>Neue Qualifikation erfassen</.button>
    </.link>
  </:actions>
</.header>

<.card>
  <%= if Enum.any?(@streams.qualifications.inserts) do %>
    <.table
      id="qualifications"
      rows={@streams.qualifications}
      row_click={
        fn {_id, qualification} ->
          JS.navigate(~p"/contacts/#{@contact}/qualifications/#{qualification}")
        end
      }
    >
      <:col :let={{_id, qualification}} label="Art">
        {get_key_for_value(Qualification.get_valid_types(), qualification.type)}
      </:col>

      <:col :let={{_id, qualification}} label="Beschreibung">
        {describe(qualification)}
      </:col>

      <:col :let={{_id, qualification}} label="Gültig bis">
        {format_date_field_dmy(qualification.dosb_valid_until)}
      </:col>

      <:action :let={{_id, qualification}}>
        <.link navigate={~p"/contacts/#{@contact}/qualifications/#{qualification}"}>
          Anzeigen
        </.link>
      </:action>
    </.table>
  <% else %>
    <p>
      Bisher wurden noch keine Qualifikationen erfasst.
    </p>
  <% end %>
</.card>
