<.header>
  {@page_title}
  <:actions>
    <.link navigate={~p"/contact_groups/#{@contact_group}/edit"}>
      <.button>Kontaktgruppe bearbeiten</.button>
    </.link>
  </:actions>
</.header>

<.card>
  <.list>
    <:item title="Name">
      {format_string_field(@contact_group.name)}
    </:item>
    <:item title="Art">
      {get_key_for_value(ContactGroup.get_valid_types(), @contact_group.type)}
    </:item>
    <:item title="Kontakte">
      <ul>
        <li :for={contact <- @contact_group.contacts}>
          <.link_to
            target={contact}
            additional_text={" - #{Contact.age_in_years(contact)} Jahre"}
          />
        </li>
      </ul>
    </:item>
    <:item title="Angelegt am">
      {format_date_time_field_dmy_hms(@contact_group.inserted_at)}
    </:item>
    <:item title="Zuletzt geändert am">
      {format_date_time_field_dmy_hms(@contact_group.updated_at)}
    </:item>
  </.list>
</.card>
